*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: cairo;
}
.navbar{
    height: 100px;
    margin-bottom: 50px;
}
.navbar img{
    width: 35px;
}
.brand{
    margin-left: 5px;
}
.input-group{
    height: 50px;
    margin-bottom: 60px !important;
}
.container h2:nth-child(1){
    text-align: center;
    font-weight: 800;
}
h2{
    font-weight: 600;
    margin-bottom:20px ;
}
.details{
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    transition: .2s;
}
.list-group-item{
    height: 50px;
    transition: .5s;
    word-wrap: break-word;
}
.flex{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.mb-1{
    font-weight: 600;
}
#clear{
    cursor: pointer;
}
.fa-trash{
    font-size: 20px;
    margin-right: 1px;
}
.done{
    margin-top: 5px;
    width: 19px;
    height: 19px;
}
/* .form-switch{
    margin-bottom: 50px;
} */


